@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif ;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
    text-align: center;
    padding: 40px 0;
}
.welcome{
    font-size: 46px;
    line-height: 54px;
    color: #FF00C9;
    padding: 10px 80px;
    margin: auto;
   
}

h2  {
    font-size: 46px;
    line-height: 54px;
    color: #FF00C9;
    padding: 10px 80px;
   

}   
h4  {
    font-size: 20px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
   

}
h3  {
    color: #A60079;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    
}
h6  {
    font-weight: 500;
    font-size: 15px;

}
p   {
    font-size: 20px;
    color: black;
    margin: 0   0   20px    0;
    font-weight: 300;
    padding: 0px 80px;
    font-family: 'Josefin Sans', sans-serif;
    


}
.section-p1 {
    padding: 40px 80px;

}
.section-m1 {
    margin: 40px 0;
}
body    {
    width: 100%;
}
.logo   {
    width: 180px;
    
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white ;
    box-shadow: 0 5px   15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li  a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #FF00C9;
    transition: 0.3s    ease;
}
#navbar li  a:hover,
#navbar li  a.active {
    color: black;
}
#navbar li  a.active::after,
#navbar li  a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
    

}
#hero   {
    background-image: url('images/home.JPG');
    height: 100vh;
    width: 100%;
    background-position: 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.Explore{
    text-align: center;
    margin: auto;
    width: 10%;
    color: black;
    border-radius: 4px;
    border: 0.5px solid #FF00C9;
    font-size: 20px;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    height: 7%;
    width: 15%;
    margin-bottom: 25%;
    font-family: 'Josefin Sans', sans-serif;

}
.section-p1 {
    padding: 10px 80px;
}
#services .ser-box  {
width: 350px;
height: auto;
text-align: center;
padding: 15px 15px;
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
border: 1px solid black;
border-radius: 10px;
margin: 15px 0;



}
.ser-box img  {
    width: 300px;
    height: 220px;
    border-radius: 10px;
    
}
#services.ser-box img  .imag{
    width: 220px;
    height: 220px;
    border-radius: 10px
}
#services .ser-box button   {
    border-radius: 10px;
    background-color: white;
    color: #FF00C9;
    border: 10%  ;
    padding: 10px 60px 10px 55px;
    background-repeat: no-repeat;
    font-weight: 800;
}
#services .ser-box button:hover,
#services .ser-box button.active {
    color: #A60079;
    cursor: pointer;
    transition: 0.3s    ease;
}
#services   {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#services .section-p1  {
    align-items: center;
    justify-content: space-between;
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Images/Spa.jpg);
    
   
}
#banner h2  {
    color: #FF00C9;
}
#banner h2 span {
    color: black;
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
   

}
#newsletter .form   {
    padding: 10px 80px;
}
#newsletter h4  {
    font-size: 22px;
    font-weight: 700;
    color: #A60079;
    padding: 10px 80px;

}
#newsletter p  {
    font-size: 16px;
    font-weight: 400;
    color:#A60079;
    /*padding: 0 80px;*/
}
#newsletter input   {
    height: 3.125em;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
   

}
#newsletter .form .normal {
    color: #FF00C9;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 14px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    width: 40%;
    


}
#newsletter .form   {
    display: flex;
    width: 50%;
    justify-content: space-between;

}
#newsletter   .fa {
    padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 8px 2px;
  border-radius: 50%;
  margin-left: 50px;
  outline: none;
 
}
#newsletter   .fa:hover {
    opacity: 0.7;
}
#newsletter  .news-text a {
    margin-left: 80px; 
    outline: none;
}
footer  .Copyright{
    font-size: 14px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
}
.logo1 {
    width: 180px;
    

}
#footer h4{
    font-size: 15px;
    font-weight: 500;
    padding: 0px 80px;
    color: black;

}
#footer p{
    font-size: 14px;
    font-weight: 400;
    padding: 0 80px;
    margin: 0px 0 8px 0;
    color:black;

}
footer  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
   
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer  a{
    font-size: 14px;
    text-decoration: none;
    margin: 0px 2px 8px 0;
    color: black;
    margin-bottom: 10px;
    padding: 0px 80px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    

}
footer  a:hover{
    color: #A60079;

}
#Container .Membership{
background-color: black;
text-align: center;
font-family: 'Josefin Sans', sans-serif;
height: 250px;
padding-top: 80px;

    
}
#Container .Membership h2{
    font-family: 'Josefin Sans', sans-serif;
    
}
#membership-cards   {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 35%;
    margin-top: 2%;
}
#membership-cards .cards img{
   width: 50%;
}
.section-p1 .become{
    padding: 10px;
}
.section-p1 .become h3{
    padding: 10px;

}
.section-p1 .become h4{
    padding: 10px;
    font-style: italic;
}
.section-p1 .become .none{
    font-style: normal;
    
}
.section-p1 .become li{
    padding-left: 10px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;

}
.section-p1 .become h5{
    padding: 10px;

}
.section-p1 .terms h3{
    padding: 10px;
}
.section-p1 .terms li{
    padding: 5px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}
